<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet' href='/css/base.css' />
    <link rel='stylesheet' href='/css/shop.css' />
</head>
<body>
   <header>
       <a href="/menu"><</a><b>商家详情</b>
   </header>
   <section>
       <div class="item1">
           <h2>活动与属性</h2>
           <% for (var i = 0; i <arr.activities.length; i++) {%>
               <p><%=arr.activities[i].description%></p>
           <%}%>
           <p><%=arr.supports[0].description%></p>
       </div>
        <div class="item2">
            <h2>商家信息</h2>
            <p><%=arr.description%></p>
            <p>地址：<%=arr.address%></p>
            <p>营业时间：<%=arr.opening_hours%></p>
            <p>营业执照</p>
            <p>餐饮服务许可证</p>
        </div>
   </section>
</body>
</html>